<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="database.operate.api.common.mapper" >
	<sql id="base_condition">
		<trim suffix=" " suffixOverrides="and | or | AND | OR">
			where 1=1 and
			<if test="condition.conditionBlocks.size!=0">
				<trim suffix=")" suffixOverrides=")and | )or | )AND | )OR|)">
					<foreach collection="condition.conditionBlocks" item="conditionBlock">
						<if test="conditionBlock.fields.size != 0">
							(
							<trim suffix=" " suffixOverrides="and | or | AND | OR">
								<foreach collection="conditionBlock.fields" item="field">
									<choose>
										<when test="field instanceof cn.com.cibtc.database.model.condition.field.CompareField">
											<!-- 处理特出比较条件Like -->
											<choose>
												<when test="field.conditionType ==@cn.com.cibtc.database.enums.Compare@LIKE.toString()">
													${field.fieldName} LIKE CONCAT('%', #{field.value}, '%')  ${field.logic}
												</when>
												<when test="field.conditionType ==@cn.com.cibtc.database.enums.Compare@LEFT_LIKE.toString()">
													${field.fieldName} LIKE CONCAT('%', #{field.value})  ${field.logic}
												</when>
												<when test="field.conditionType ==@cn.com.cibtc.database.enums.Compare@RIGHT_LIKE.toString()">
													${field.fieldName} LIKE CONCAT(#{field.value}, '%')  ${field.logic}
												</when>
												<otherwise>
													${field.fieldName} ${field.conditionType} #{field.value} ${field.logic}
												</otherwise>
											</choose>
										</when>
										<when test="field instanceof cn.com.cibtc.database.model.condition.field.InField">
											<if test="field.values.size!=0">
												${field.fieldName} ${field.conditionType}
												<foreach collection="field.values" item="value" open="(" close=")" separator=",">
													#{value}
												</foreach>
												${field.logic}
											</if>
										</when>
										<when test="field instanceof cn.com.cibtc.database.model.condition.field.EmptyField">
											${field.fieldName} ${field.conditionType} NULL ${field.logic}
										</when>
										<otherwise>
										
										</otherwise>
									</choose>
								</foreach>
							</trim>
							)${conditionBlock.logic}
						</if>
					</foreach>
				</trim>
			</if>
		</trim>
		<if test="condition.sortFields.size!=0">
			ORDER BY
			<foreach collection="condition.sortFields" item="sortField" separator=",">
				${sortField.fieldName} ${sortField.orderBy}
			</foreach>
		</if>
	</sql>
</mapper>